.circle-container {
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 21vh;
}

.circle-container:hover {
	cursor: pointer;
}

.circle {
	display: table-cell;
	color: white;
	width: 21vh;
	height: 21vh;
	text-align: center;
	vertical-align: middle;
	font-size: 2vh;
	font-family: "ag-book-condensed",sans-serif;
	line-height: 2vh;
	font-weight: bold;
	font-style: italic;
}

.purple {
	background: #6a3894;
	border: 2px #6a3894;
}

.green {
	background: #80e1c2;
	border: 2px solid #80e1c2;
}

.blue {
	background: #69cfed;
	border: 2px solid #69cfed;
}

.dark-grey {
	background: #575756;
	border: 2px solid #575756;
}

.pink {
	background: #e16ada;
	border: 2px solid #e16ada;
}

.gold {
	background: #be9f57;
	border: 2px solid #be9f57;
}

.purple-outline {
	color: #6a3894;
	background: #ffffff;
	border: 1px solid #6a3894;
}

.light-grey-outline {
	color: #575756;
	background: white;
	border: 1px solid #e6e7e8;
}

.purple-text {
	color: #6a3894;
}

.green-text {
	color: #80e1c2;
}