[class*="block-grid-"] > li {
     clear: none !important;
}

.circle-container {
	display: block;
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: auto;
	margin-right: auto;
}

.circle-container,
.circle,
.flip-container,
.front,
.back {
	width: 12vh;
	height: 12vh;
}

.circle {
	border-radius: 50%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2vh;
	font-family: "ag-book-condensed",sans-serif;
	line-height: 2vh;
	font-weight: bold;
	font-style: italic;
}

.circle.capitalize {
	text-transform: uppercase;
}

.purple {
	color: white;
	background: #6a3894;
	border: 2px #6a3894;
}

.green {
	color: white;
	background: #80e1c2;
	border: 2px solid #80e1c2;
}

.blue {
	color: white;
	background: #69cfed;
	border: 2px solid #69cfed;
}

.dark-grey {
	color: white;
	background: #575756;
	border: 2px solid #575756;
}

.pink {
	color: white;	
	background: #e16ada;
	border: 2px solid #e16ada;
}

.gold {
	color: white;	
	background: #be9f57;
	border: 2px solid #be9f57;
}

.purple-outline {
	color: #6a3894;
	background: #ffffff;
	border: 1px solid #6a3894;
}

.purple-outline .fa {
	color: #6a3894;
}

.light-grey-outline {
	background: white;
	border: 1px solid #e6e7e8;
}

.dark-grey-text {
	color: #575756;
}

.light-grey-text {
	color: #e6e7e8;
}

.purple-text {
	color: #6a3894;
}

.green-text {
	color: #80e1c2;
}

.spinner.purple span,
.spinner.pink span,
.spinner.blue span,
.spinner.green span,
.spinner.gold span,
.spinner.dark-grey span {
	border-top-color: white;
	border-left-color: white;
}

.spinner.purple-outline  span {
	border-top-color: #6a3894;
	border-left-color: #6a3894;
}

.spinner.dark-grey-text span {
	border-top-color: #575756;
	border-left-color: #575756;
}

.spinner.light-grey-text span {
	border-top-color: #e6e7e8;
	border-left-color: #e6e7e8;
}