/* Remove annoying Bootstrap focus */
* {
    outline: 0 !important;
}

.circles-container {
	/*background: pink;*/
}

.container-fluid .row {
	max-width: 100%;
}

.container-fluid h1 {
	position: relative;
	bottom: 0;
	font-size: 2.75rem;
	color: #69cfed;
	font-weight: 700 !important;
	letter-spacing: -2px;
}

.remaining-circles-container {
	/*background: yellow;*/
}