.loading {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 21vh;
	height: 21vh;
	font-size: 10vh;
	color: white;
}

.spinner-hide .loading {
	visibility: visible;
}
.spinner-show .loading {
	visibility: hidden;
}
