.spinner {
	position: absolute;
	top: 0;
}

.spinner span {
	display: block;
	margin: 1.75vh auto;
	width: 8vh;
	height: 8vh;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
	border: solid 2px transparent;
	border-radius: 10px;
	pointer-events: none;
	-webkit-pointer-events: none;
	-webkit-transition: 350ms linear all;
	-moz-transition: 350ms linear all;
	-o-transition: 350ms linear all;
	transition: 350ms linear all;

	-webkit-animation: loading-bar-spinner 400ms linear infinite;
	-moz-animation:    loading-bar-spinner 400ms linear infinite;
	-ms-animation:     loading-bar-spinner 400ms linear infinite;
	-o-animation:      loading-bar-spinner 400ms linear infinite;
	animation:         loading-bar-spinner 400ms linear infinite;
}

img.spinner-show {
    visibility: visible;
}
img.spinner-hide {
    visibility: hidden;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}