<div class="circles-container">
	<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7">
		<!--
		<li class="animate-repeat" data-ng-repeat="circle in vm.circles" style="padding-bottom:0px!important;" data-ng-class="circle.visibilityClass ? '{{ circle.visibilityClass }}' : ''">
		-->
		<li data-ng-repeat="circle in vm.topCircles" style="padding-bottom:0px!important;" data-ng-class="circle.visibilityClass ? '{{ circle.visibilityClass }}' : ''">
			<span class="circle-container">
				<a class="flip-container" ontouchstart="this.classList.toggle('hover');" data-ng-class="circle.flipEnabled ? '' : 'disabled'" data-ng-click="vm.circleClick(circle.id, 'top')">
					<span class="flipper" data-ng-class="circle.flipped ? 'flipped' : ''">
						<span class="front">
							<img class="img-responsive" alt="{{ circle.text }}"data-ng-src="images/{{circle.image}}" data-spinner-on-load="{{ circle.circleClass }}">
						</span>
						<span class="back">
							<div class="img-circle circle {{ circle.circleClass }}" data-ng-class="circle.capitalize ? 'capitalize' : ''" data-ng-bind-html="circle.text"></div>
						</span>
					</span>
				</a>
			</div>
		</li>
	</ul>
</div>
<div class="container content-container animate-if" data-ng-if="vm.pageContent.title">
	<div class="row" data-equalizer>
		<div class="large-5 columns" data-equalizer-watch>
			<h1>{{ vm.pageContent.title }}</h1>
		</div>
		<div class="large-7 columns" data-equalizer-watch>
			<img data-ng-src="images/{{ vm.pageContent.image }}" alt="{{ vm.pageContent.title }}">
		</div>
	</div>
</div>
<div class="remaining-circles-container">
	<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7" data-ng-if="vm.bottomCircles.length">
		<li class="animate-repeat" data-ng-repeat="circle in vm.bottomCircles" style="padding-bottom:0px!important;">
			<span class="circle-container">
				<a class="flip-container" ontouchstart="this.classList.toggle('hover');" data-ng-class="circle.flipEnabled ? '' : 'disabled'"  data-ng-click="vm.circleClick(circle.id, 'bottom')">
					<span class="flipper" data-ng-class="circle.flipped ? 'flipped' : ''">
						<span class="front">
							<img class="img-responsive" alt="{{ circle.text }}"data-ng-src="images/{{circle.image}}" data-spinner-on-load="{{ circle.circleClass }}">
						</span>
						<span class="back">
							<div class="img-circle circle {{ circle.circleClass }}" data-ng-class="circle.capitalize ? 'capitalize' : ''" data-ng-bind-html="circle.text"></div>
						</span>
					</span>
				</a>
			</div>
		</li>
	</ul>
</div>