<div class="container">
	<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7">
		<li class="animate-repeat" data-ng-repeat="circle in vm.circles" style="padding-bottom:0px!important;" data-ng-class="circle.visibilityClass ? '{{ circle.visibilityClass }}' : ''">
			<span class="circle-container">
				<a class="flip-container" ontouchstart="this.classList.toggle('hover');" data-ng-class="circle.flipEnabled ? '' : 'disabled'" data-ng-click="vm.circleClick($index)">
					<span class="flipper" data-ng-class="circle.flipped ? 'flipped' : ''">
						<span class="front">
							<img class="img-responsive" alt="{{ circle.text }}"data-ng-src="images/{{circle.image}}" data-spinner-on-load="{{ circle.circleClass }}">
						</span>
						<span class="back">
							<div class="img-circle circle {{ circle.circleClass }}" data-ng-class="circle.capitalize ? 'capitalize' : ''" data-ng-bind-html="circle.text"></div>
						</span>
					</span>
				</a>
			</div>
		</li>
	</ul>
</div>